#page-teacher-list {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}
#search-teachers label {
    color: var(--color-text-in-primary);
}

@media (min-width: 700px) {
    #page-teacher-list {
        max-width: 100%;
    }

    #search-teachers {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        margin: 0 auto;
        position: absolute;
        bottom: -28px;
    }

    #search-teachers .input-block + .input-block {
        margin-top: 0;
    }
}





